
@font-face {
	font-family: 'small';
	font-style: normal;
	font-weight: 700;
	src: url('./font/Webfonts/fonts/woff/IRANSansX-Bold.woff') format('woff'),   
	url('./font/Webfonts/fonts/woff2/IRANSansX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: 'small';
	font-style: normal;
	font-weight: 400;
	src: url('./font/Webfonts/fonts/woff/IRANSansX-Regular.woff') format('woff'),   
	url('./font/Webfonts/fonts/woff2/IRANSansX-Regular.woff2') format('woff2');	
}
@font-face {
	font-family: 'myFirstFont' ;
	src: url(./font/IRANSansX-Bold.ttf);
}

*{
    font-family: 'myFirstFont';
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
	list-style: none;
}
.img{
    background-image: url(./IMG/yaroo.jpg);
    height: 64vh;
    background-position: center ;
	
}


.colerr{
    color: white;
	
}
.coler{
	color: rgb(121, 92, 92);
	
}
.font-riz{
	font-family: 'small';
}
.margin200{
	margin-right: 230px;
}
input::placeholder{
	color: rgb(236, 220, 220);
}
.marginn{
	margin-left: 39%;
	
}
.imagee{
	width: 340px;
	margin-right: 40px;
}

.font-riz p{
	display: block;
}

.borderr{
	border-radius: 5px;
}
.pl-pxx{
	padding-left: 150px;
}
.mbbb-{
	margin-bottom: 300px;
}

